@import '../../../../assets/scss/variables';

.order-container {
  background-color: #fff;
  background-image: linear-gradient(180deg, $red 0 150px, $white 150px);
  border-radius: .5rem;

  h1 {
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
    color: $white;
  }

  .products {

    height: 350px;
    overflow-y: auto;

    .product {
      border-radius: 1rem;
      background-color: $white;
      box-shadow: 0px 0px 2px 0px rgba($black, .3);

      &-name {
        font-size: 18px;
        line-height: 24px;
        color: $text;
      }

      &-price {
        font-size: 18px;
        line-height: 24px;
        color: $text;
      }

      &-description {
        font-size: 14px;
        line-height: 18px;
        font-weight: 300;
        color: $textLight;

        max-height: 96px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        white-space: pre-wrap;
      }

      &-photo {
        width: 96px;
        height: 96px;
        border-radius: .5rem;
      }
    }
  }

  .order-form {
    background-color: $white;
    border-radius: 1rem;

    height: 350px;
    overflow-y: auto;
  }

}

.btn-submit {
  .btn-confirm {
    background-color: $primary;
    color: $white;
  }
}
